.heading {
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

#board {

    height: 600px;
    width: 600px;
    background: greenyellow;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-flow: wrap;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;

}

.block::before {
    content: "";
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background: yellow;
}

.block {
    position: relative;
    height: 166px;
    width: 166px;
    margin: 10px;
    background: red;
    box-shadow: 1px 1px 1px black;
    border: 2px solid black;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    transform: scale(1);
}

.block:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 1px black;
}


.clicked {
    background-color: rgb(167, 0, 0);
}

.game-container {
    display: flex;
    flex-direction: row;
    margin: 10px 50px;
}

.player {
    max-width: 300px;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}

.player-name {
    font-size: 40px;
    background: red;
color: white;
    border-radius: 20px;
    margin: 10px;
}

.lives {
    position: relative;
    height: 10px;
    background: greenyellow;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
}

.lives-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 20px;
    background: red;
}

.scores {
    margin: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.scores div {
    background: rgb(46, 102, 232);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;

}

.scores span {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.btn-reset {
    cursor: pointer;
    width: fit-content;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    background: green;
    color: white;
    box-shadow: 1px 2px 2px rgb(209, 209, 209);
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.btn-reset:hover {
    background: rgb(0, 171, 0);
    transform: scale(1.03);
}

.play-modal{
    height: inherit;
    width: inherit;
    position: absolute;
    background: rgba(192, 192, 192, 0.847);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

.play-modal-input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    background: yellow;
}
.play-modal-input p{
    font-size: 25px;
    margin: 10px;
    text-align: center;
    padding: 5px 10px;
}

.play-modal-input input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.play-modal-input button{
    padding: 10px 15px;
    border: none;
    width: fit-content;
    background: black;
    color: white;
    margin: 10px;
    cursor: pointer;
    transform: translateX(0) translateY(0);
    transition: all 0.3s ease-in;
}
.play-modal-input>button:hover{
    transform: translateX(2px) translateY(2px);
    box-shadow: -2px -2px 1px rgb(255, 255, 255);
}